.container{
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 8px;
  border-radius: 2px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  
}
.header{
  font-size: small;
  text-align: left;
  height: 40px;
  border-bottom: solid 1px rgb(221, 221, 221);
}

.th, .td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: small;
  color: rgb(45, 45, 45);
}

.title{
  font-size: small;
  color: var(--main-blue-color)
}
.tr:nth-child(even) {
  background-color: #f2f2f2;
}